<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="style.css">
</head>
<body>
<div id="list" class="loading"></div>
<div id="detail">
  <div class="header">
    <div class="icon" id="icon"></div>
    <h1 id="name"></h1>
    <div class="publisher" id="publisher"></div>
    <button id="install"></button>
    <div class="back" id="back">Back to List &gt;</div>
  </div>
  <div id="readme"></div>
</div>
<script src="main.js"></script>
</body>
</html>